.container {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 3px 14px 6px #012a4a22;
  background-color: var(--white);

  input {
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 21px;
    background-color: transparent;
    color: var(--gray-800);

    &::placeholder {
      color: var(--gray-700);
    }
  }

  &.hasError {
    box-shadow: 0 3px 14px 6px #ff000022;
  }

  &.disabled {
    background-color: transparent;

    input {
      background-color: transparent;
      color: var(--gray-500);
    }
  }
}

.error {
  display: flex;
  align-items: center;
  margin-right: 20px;

  svg {
    color: var(--danger);
  }

  span {
    background-color: var(--danger);

    &::before {
      border-color: var(--danger) transparent;
    }
  }
}