.container {
  background-color: var(--gray-600) !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.content {
  background-color: var(--gray-200);
  width: 96vw;
  height: 94vh;
  box-shadow: 0 0 14px 6px #012a4a22;
  border-radius: 6px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}