.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  min-height: 60px;
  min-width: 100%;
  background-color: var(--gray-200);
  border-bottom: 1px solid var(--gray-400);

  > h2 {
    font: 400 1.4rem "Montserrat", sans-serif;
    color: var(--primary);
    margin: 0 20px;
  }
}